@{
    ViewData["Title"] = "วศอห ฺไ ำํวัษ";
}

<div class="hero bg-light text-center py-5">
    <div class="container">
        <h1 class="display-4 font-weight-bold">วศอห ฺไ ำํวัส฿ วแใหวแํษ</h1>
        <p class="lead">วศอห ๆวอฬา วแำํวัษ วแสํ สไวำศ วอสํวฬวส฿.</p>
    </div>
</div>

<div class="container my-5">
    <component type="typeof(CarRentalSystem.Web.Components.Find.CarProfiles)" render-mode="Server" />
</div>
