@{
    ViewData["Title"] = "ابحث عن سيارة";
}

<div class="hero bg-light text-center py-5">
    <div class="container">
        <h1 class="display-4 font-weight-bold">ابحث عن سيارتك المثالية</h1>
        <p class="lead">ابحث واحجز السيارة التي تناسب احتياجاتك.</p>
    </div>
</div>

<div class="container my-5">
    <component type="typeof(CarRentalSystem.Web.Components.Find.CarProfiles)" render-mode="Server" />
</div>
