.hero {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    padding: 40px 0;
    margin-bottom: 30px;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.form-group {
    margin-bottom: 20px;
}

.password-strength {
    margin-top: 5px;
    font-size: 0.875rem;
    display: flex;
    visibility: hidden;
}

.password-strength span {
    display: inline-block;
    width: 20%;
    height: 5px;
    background-color: #e0e0e0;
    margin-right: 2px;
}

.password-strength .strength-weak {
    background-color: #c34040;
}

.password-strength .strength-medium {
    background-color: #d3d334;
}

.password-strength .strength-strong {
    background-color: #34ba34;
}

.custom-video {
    width: 100%; /* ياخذ عرض العمود كامل */
    max-width: 600px; /* يحدد أكبر عرض */
    height: 300px; /* يصغر الطول */
    object-fit: cover; /* يخلي الفيديو مقصوص بشكل مرتب */
    border-radius: 10px; /* زوايا ناعمة */
    margin-left: auto; /* يسحب الفيديو لليمين */
    margin-right: 0;
    display: block;
}

footer {
    background-color: #fbfbfb; 
    color: #000 !important; /* لون النصوص */
    text-align: center;
    padding-top: 0.6rem; /* مسافة من الأعلى */
    padding-bottom: 0.6rem; /* مسافة من الأسفل */
    font-size: 1.1rem; /* تكبير النص */
    font-weight: 600; /* جعل النص أثخن */
    border-top: 4px solid black; /* خط علوي أسود */
}
