@{
    ViewData["Title"] = "йцъМо гсйзгои ъАЦи гАЦяФя";
}

<div class="container mt-5">
    <div class="hero text-center">
        <h2>йЦ еясгА ягхь гАгсйзгои</h2>
        <p>епг ъгД гАхяМо гАеАъйяФДМ гАпМ цонАйЕ ЦяйхьПг хмсгх║ щсФщ МуАъ ягхь Аезгои йзММД ъАЦи гАЦяФя чяМхПг.</p>
    </div>
</div>
