@{
    ViewData["Title"] = "םב בזב";
}

@model LoginViewModel

<div class="container mt-5">
    <div class="hero text-center">
        <h2>!דנ ז‗ בל ב‗םה ב</h2>
        <p>דה ב‗ ד םב בזב בבד ז ם‗.</p>
    </div>

    <form asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email">בם בב‗זהם</label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">‗בד בדז</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <label asp-for="RememberMe" class="form-check-label">‗הם</label>
            <input asp-for="RememberMe" class="form-check-input" />
        </div>

        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <button type="submit" class="btn btn-primary">םב בזב</button>
            </div>
        </div>
    </form>

    <div class="text-center mt-3">
        <p>וב הם ‗בד בדז <a asp-controller="Account" asp-action="ForgotPassword" class="text-primary"> וה ב בםםה</a>.</p>
        <p>ב דב‗ נ <a asp-controller="Account" asp-action="Register" class="text-primary"> וה בבםב</a>.</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
