@{
    ViewData["Title"] = "йцъМо езгои йзММД ъАЦи гАЦяФя";
}

<div class="container mt-5">
    <div class="hero text-center">
        <h2>йЦй езгои йзММД ъАЦи гАЦяФя хДлгм</h2>
        <p>
            йЦй езгои йзММД ъАЦи гАЦяФя гАнгуи хъ хДлгм. МЦъДъ гАбД
            <a asp-controller="Account" asp-action="Login" class="text-primary">йслМА гАонФА</a>
            хгсйногЦ ъАЦи гАЦяФя гАлоМои.
        </p>
    </div>
</div>
